<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <title>{% block title %}Митер{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
    <script src="https://kit.fontawesome.com/4cb89e523d.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>
{% block body %}{% endblock %}
</body>
</html>