{% extends 'base_content.html.twig' %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="makePostBlock">
        <div class="mkpLeft">
            <div class="postIcon" style="background-image: url({{ asset('img/user.png') }}); background-size: cover;"></div>
            <input placeholder="Что нового?" type="text">
        </div>
        <button class="publishButtonPost">Опубликовать</button>
    </div>
    {% endif %}
    {% for post in posts %}
        {% include 'partial/render_post.html.twig' with {'post': post} %}
    {% endfor %}
{% endblock %}