<div class="makeCommentBlock">
    <div class="postCommentUserIcon" style="background-image: url({{ asset(app.user.avatarUrl) }}); background-size: cover;"></div>
    <div class="mkcRight">
        <input placeholder="Напишите свой комментарий..." type="text">
        <button class="publishButtonComment">Опубликовать</button>
    </div>
</div>