<div class="makePostBlock">
    <div class="mkpLeft">
        <div class="postIconMkp" style="background-image: url({{ asset(app.user.avatarUrl) }}); background-size: cover;"></div>
        <input class="mkpInput" placeholder="Что нового?" type="text">
    </div>
    <button class="publishButtonPost">Опубликовать</button>
</div>
