<button
        class="postMoreCemmentsBtn"
        data-total-loaded="{{ totalLoaded }}"
        data-comments-url="{{ commentsUrl }}"
>{{ 'Показать больше комментариев'|trans }} <i class="fas fa-chevron-down" aria-hidden="true"></i></button>